body{
    font-family: 'Montserrat', sans-serif;
   background-color: rgb(255, 255, 255);
   
}  
 .main {
      position: relative;
      top: 0;
      bottom: 0;
      font-family: 'Montserrat', regular;
    } 

header {
    width: 100%;
    background-color: #f4eb34;
    position: relative;
    padding: 0.20em;
}

p{
    color: #000000;
    text-align: center;
    font-size: 1.88rem;
    font-weight: 200;
    width: 100%;
}

/* NAV + LOGO */   
button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
.logo{
    width: 255px;
}
    nav{
        display: flex; 
        flex-flow:row nowrap;
        justify-content: space-around;
        align-items: center;
        background-color: rgb(255, 255, 255);
        width: 180rem; 
        height: 15%;
    }
    
    .nav-links{
        flex: 1;
        text-align: left;
    }
    
    .nav-links ul li{
        list-style: none;
        display: inline-block;
        padding: 1.90em;
        position: relative;
        letter-spacing: 0.3em;
       
    }
    
    .nav-links ul li a{
        color: #152a42;
        text-decoration: none;
        font-weight: 400;
        font-size: 1.50rem;
    }
    
    .nav-links ul li a:hover{
        color: #72AEA6;
    }
    
    .nav menu{
        display: none;
    }
    /* ICONS */
    .navbar {
        width: 30%;
        background-color: rgb(255, 255, 255);
        overflow: auto;
      }
      
      /* Navbar links */
      .navbar a {
        float: left;
        text-align: center;
        padding: 25px;
        color: rgb(0, 0, 0);
        text-decoration: none;
        font-size: 30px;
      }

 
#blog{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding: 0px;
    border-top: 0px solid rgba(0, 0, 0, 0.05);
    border-bottom: 0px solid rgba(0, 0, 0, 0.05);

 

}
.blog-heading h3{
    font-size: 2.4rem;
    color: #72afa6;
    font-weight: 700;
}
.blog-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 20px;
    flex-wrap: wrap;
}
 
.blog-box{
    width:2000px;
    height: 1500px;
    background-color: #ffffff;
    border: 6px solid #72AEA6;
    margin: 20px 20px;
 
}
.blog-img{
    width:100%;
    height: 35rem;}
.blog-img img{
    width:100%;
    height: 100%;
    object-fit:cover;
    object-position: center;

}
.blog-text .blog-title{
    font-size: 2.2rem;
    font-weight: 500;
    color: #72afa6;
}
strong{
    color: #72AEA6;
    font-weight: 20rem;
}
.blog-text p{
    color: #000000c6;
    font-size: 2.3rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin: 0px 0px;
}

.blog-title a:hover{
    color: #f4eb34;
    transition: all ease 0.3s;
}
.button {
    background-color: #72afa6;
    border-color: #72AEA6;
    color: white;
    font-size: 2000.3rem;
    padding: 20px 34px;
    text-align: center;
    border-radius: 30px;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
   
}

 /* footer */
 #footer-flexbox{
    display: flex;
   justify-content: space-evenly;
   font-size: 30px;
   font-weight: bolder;
} 


 h4{
    color: #72afa6;
    font-weight: 900;
}
    footer a{
        text-decoration: none;
        color: #000000;
        font-size: 28px;
        line-height: 26px;
        
    }
    .footer-ul{
        list-style: none;
        min-width: 195px;
        margin-bottom: 25px;
    }
    footer > p{
        padding: 30px;
    }